<div fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-typography">
  <section>
    <h1>Competency Goals</h1>
    <app-goal-total-weight *ngIf="goals" [goalWeightModel]="goalWeightData"></app-goal-total-weight>
  </section>
  <section fxLayout="row" fxLayoutAlign="start start">
    <div>
        <p>When considering a competency goal, think about a specific behavior you would like to focus on this year. For example, if developing self and others is an area in which you would like to leverage perhaps you may want to identify 2 or 3 team members to bring along with you on more client visits.  See the guidebook for more tips on setting goals that align with your lag measures. </p>
        <p>To add a goal, click on the green “Add Goal” in the Goals box below.  To the right of the Goals box, is where you will add “Goal Details.” Use the drop down arrow to choose the Competency goal and goal type.  Next, choose an Industry Team and/or a Service Line in which this goal applies (if applicable), give it a name and choose the weight you want to assign to this goal.  Next, add a description of your goal.   Describe the goal using the SMART methodology– Specific Measurable Achievable Realistic and Timely; or, the X to Y by when.  See the guidebook for details on creating goals.  Add specific actions that you need to take in order for you to achieve your goal.</p>
      </div>
  </section>
  <section fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="goals; else loading">
    <mat-card fxFlex="30">
      <section fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="no-bottom-margin">Goals</h3>
        <button mat-button color="accent" (click)="onAddGoal()">Add Goal</button>
      </section>
      <app-goal-list-card *ngIf="goals" [goals]="goals" (goal)="onSetExistingGoal($event)" (goalWeightModel)="onWeightChange($event)"></app-goal-list-card>
    </mat-card>
    <app-goal-form-card fxFlex="70" *ngIf="goal" [goal]="goal" [dropDownData]="dropdownLists" (isFormDirty)="setFormIsDirty($event)" (savedGoal)="onSaveGoal($event)" (updatedGoal)="onUpdateGoal($event)"></app-goal-form-card>
  </section>
  <ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
