<section class="text-center">
  <h1>WIGs Evaluation Form</h1>
</section>
<section fxLayout="row" fxLayoutAlign="space-between center">
  <p>The below WIGs were transferred over from the goals you established last year. As you reflect on the below goals, consider
    your achievement towards those goals and score yourself on a scale of 1 to 10. Please see the guidebook for the complete
    scale and corresponding definitions or click here. As a reminder, 9’ and 10’s are the highest level are given for truly
    for exceptional performance. The weighted self-score will be automatically calculated. The PIC and committee scores will
    be entered during your meeting.</p>
</section>
<app-evaluation-card [title]="'WIGs'" [evaluation]="evalData?.EvaluationTypes[1]" *ngIf="evalData"></app-evaluation-card>
