<div fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-typography">
  <section>
    <h1>Review Meeting</h1>
  </section>
  <form [formGroup]="reviewForm">
    <section fxLayout="column" fxLayoutAlign="start stretch">
      <mat-form-field class="input-width">
        <mat-select placeholder="Reviewer" formControName="ReviewerId">
          <mat-option [value]="1">
            Option 1
          </mat-option>
          <mat-option [value]="2">
            Option 2
          </mat-option>
          <mat-option [value]="3">
            Option 3
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="input-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="ReviewDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="textarea-width">
        <textarea matInput placeholder="Competency Goals Notes" formControlName="CompetencyNotes"></textarea>
      </mat-form-field>
      <mat-form-field class="textarea-width">
        <textarea matInput placeholder="WIG Goals Notes" formControlName="WIGNotes"></textarea>
      </mat-form-field>
      <mat-form-field class="textarea-width">
        <textarea matInput placeholder="Leadership Goals Notes" formControlName="LeadershipNotes"></textarea>
      </mat-form-field>
      <mat-form-field class="textarea-width">
        <textarea matInput placeholder="Economic Goals Notes" formControlName="EconomicNotes"></textarea>
      </mat-form-field>
      <mat-form-field class="textarea-width">
        <textarea matInput placeholder="General Notes" formControlName="GeneralNotes"></textarea>
      </mat-form-field>
    </section>
    <section>
      <button mat-raised-button color="accent">Save Notes</button>
    </section>
  </form>
</div>
