<mat-card>
  <form [formGroup]="goalForm" (ngSubmit)="onSubmit(goalForm.value)">
    <section>
      <h3>Goal Details</h3>
      <p>
        <mat-form-field>
          <mat-select placeholder="Industry Team" name="industryTeam" formControlName="IndustryTeamId">
            <mat-option *ngFor="let industryTeam of industryTeams" [value]="industryTeam.id">{{industryTeam.value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Service Line" name="serviceLine" formControlName="ServiceLineId">
            <mat-option *ngFor="let service of serviceLine" [value]="service.id">{{service.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <app-competency-dropdowns [parentForm]="goalForm" *ngIf="goal.GoalTypeId === 7"></app-competency-dropdowns>
        <app-wig-dropdowns [parentForm]="goalForm" *ngIf="goal.GoalTypeId === 4"></app-wig-dropdowns>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput type="text" placeholder="Goal Name" formControlName="Name">
        </mat-form-field>
        <mat-form-field class="list-input-width">
          <mat-select class="text-right" placeholder="Weight" name="weight" formControlName="Weight">
            <mat-option *ngFor="let weight of weightValues" [value]="weight">{{weight}}</mat-option>
          </mat-select>
          <span matSuffix>%</span>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <textarea matInput placeholder="Goal Description" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" formControlName="GoalDescription"></textarea>
        </mat-form-field>
      </p>
    </section>
    <section>
      <app-actions-list [goalId]="goal.GoalId" [parentForm]="goalForm" [Actions]="goal.Actions"></app-actions-list>
    </section>
    <section>
      <app-notes-list [goalId]="goal.GoalId" [parentForm]="goalForm" [Notes]="goal.Notes"></app-notes-list>
    </section>
    <section>
      <button mat-raised-button color="accent">Save Goal</button>
    </section>
  </form>
</mat-card>
