<div fxLayout="column" fxLayoutAlign="space-around stretch" class="mat-typography">
  <section class="text-center">
    <h1>Shareholder Goals</h1>
    <h2>Dashboard</h2>
    <h2>Total Goal Weight: {{totalWeight}}%</h2>
  </section>
  <section>
    text goes here
  </section>
  <section fxLayout="row" fxLayoutAlign="space-between start">
    <app-main-card *ngFor="let goal of goals" [data]="goal" [route]="'/goals/'" (goalWeightData)="assignWeightTotal($event)" fxFlex="24"></app-main-card>
  </section>
</div>
