<div class="mat-typography print-top-margin">
  <div>
    <b>Goal Name:</b>
    {{goal.Name}}
    <b>Weight:</b>
    {{goal.Weight}}
  </div>
  <div>
    <b>Goal Description:</b>
    {{goal.GoalDescription}}
  </div>
  <div>
    <section *ngIf="goal.GoalTypeId === 7">
      <b>Competencies:</b>
      <span *ngFor="let competency of dropDownData?.Competencies">
        <span *ngIf="competency.GoalCompetencyId === goal.GoalCompetencyId">{{competency.Competency}}</span>
      </span>
      <span *ngFor="let competencyType of dropDownData?.CompetencyTypes">
        <span *ngIf="competencyType.GoalCompetencyTypeId === goal.GoalCompetencyTypeId">{{competencyType.CompetencyType}}</span>
      </span>
    </section>
    <section *ngIf="goal.GoalTypeId === 4">
      <b>WIG for current goal:</b>
      <span *ngFor="let wig of dropDownData?.WIG">
        <span *ngIf="wig.GoalWIGId === goal.GoalWIGId">{{wig.WIGTitle}}</span>
      </span>
    </section>
    <section>
      <b>Industry Team for current goal:</b>
      <span *ngIf="goal.IndustryTeamId === 0; else hasIndustryTeam">None</span>
      <ng-template #hasIndustryTeam>
        <span *ngFor="let industryTeam of industryTeams">
          <span *ngIf="industryTeam.IndustryTeamId === goal.IndustryTeamId">{{industryTeam.TeamName}}</span>
        </span>
      </ng-template>
    </section>
    <section>
      <b>Service Line for current goal:</b>
      <span *ngIf="goal.ServiceLineId === 0; else hasServiceLine">None</span>
      <ng-template #hasServiceLine>
        <span *ngFor="let service of dropDownData?.ServiceLines">
          <span *ngIf="service.ServiceLineId === goal.ServiceLineId">{{service.ServiceLine}}</span>
        </span>
      </ng-template>
    </section>
  </div>
  <div>
    <b>Actions/Measures:</b>
    <span *ngFor="let action of goal.Actions">{{action.Action}}</span>
  </div>
  <div>
    <b>Additional Comments:</b>
    <span *ngFor="let comment of goal.Notes">{{comment.Note}}</span>
  </div>
</div>
