<mat-card fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px" class="mat-typography">
  <section class="text-center">
    <h1>Evaluation Sign-off</h1>
    <div>
      <section *ngIf="!evaluationData?.IsShareholderSignOff; else shareholderSignedOff">
        <form [formGroup]="shareholderSignOff" (ngSubmit)="onShareholderSignOff()">
          <mat-checkbox formControlName="shareholderCheckBox">Shareholder sign-off</mat-checkbox>
          <div>
            <button mat-button color="primary">Sign Off</button>
          </div>
        </form>
      </section>
      <ng-template #shareholderSignedOff>
        Shareholder has signed off!
      </ng-template>
    </div>

    <div>
      <section *ngIf="!evaluationData?.IsPICSignOff; else picSignedOff">
        <form [formGroup]="picSignOff" (ngSubmit)="onPicSignOff(picSignOff)">
          <mat-form-field style="font-size: 14px">
            <input matInput type="text" placeholder="PIC/Practice Leader User Name" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-hint>Use your Windows password</mat-hint>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <button mat-button color="primary" [disabled]="!picSignOff.valid">Sign Off</button>
        </form>
        <ng-template #picSignedOff>
          Shareholder has signed off!
        </ng-template>
      </section>
    </div>
    <div>
      <section *ngIf="!evaluationData?.IsConsensusSignOff; else consensusSignedOff">
        <form [formGroup]="consensusSignOff" (ngSubmit)="onConsensusSignOff(consensusSignOff)">
          <mat-form-field style="font-size: 14px">
            <input matInput type="text" placeholder="Consensus User Name" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-hint>Use your Windows password</mat-hint>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <button mat-button color="primary" [disabled]="!consensusSignOff.valid">Sign Off</button>
        </form>
        <ng-template #consensusSignedOff>
          Shareholder has signed off!
        </ng-template>
      </section>
    </div>
  </section>
</mat-card>
