<mat-card fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px" class="mat-typography">
  <section class="text-center">
    <h1>Evaluation Sign-off</h1>
    <form [formGroup]="shareholderSignOff" (ngSubmit)="onShareholderSignOff()">
      <mat-checkbox formControlName="shareholderCheckBox" [disabled]="evaluationData?.IsShareholderSignOff">Shareholder sign-off</mat-checkbox>
      <div *ngIf="!evaluationData?.IsShareholderSignOff">
        <button mat-button color="primary">Sign Off</button>
      </div>
    </form>
      <p>
        <mat-form-field style="font-size: 14px">
          <input matInput type="text" placeholder="PIC User Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password">
          <mat-hint>Use your Windows password</mat-hint>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <button mat-button color="primary">Sign Off</button>
      </p>
      <p>
        <mat-form-field style="font-size: 14px">
          <input matInput type="text" placeholder="Committee User Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password">
          <mat-hint>Use your Windows password</mat-hint>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <button mat-button color="primary">Sign Off</button>
      </p>
  </section>
</mat-card>
