<div fxLayout="column" fxLayoutAlign="space-around center" class="mat-typography">
  <mat-toolbar class="transparent-bg bottom-border">
    <img src="../../../assets/images/schenck-logo.png">
  </mat-toolbar>
  <section>
    <h1>Shareholder App</h1>
  </section>
  <section>
    <h2>Welcome John Smith!</h2>
  </section>
  <section>
    <a mat-raised-button color="primary" routerLink="/goals/main">Growth And Development</a>
    <a mat-raised-button color="primary" routerLink="/evaluations/main">Evaluation</a>
  </section>
</div>
