<div fxLayout="column" fxLayoutAlign="space-around center" class="mat-typography">
  <mat-toolbar class="transparent-bg bottom-border">
    <img src="../../../assets/images/schenck-logo.png">
  </mat-toolbar>
  <section>
    <h1>Shareholder G & D App</h1>
  </section>
  <section>
    <h2>Welcome {{teamMember.FirstName}} {{teamMember.LastName}}!</h2>
  </section>
  <section>
    <a mat-raised-button color="primary" routerLink="/evaluations/main">Evaluation</a>
    <a mat-raised-button color="primary" routerLink="/goals/main">Goals</a>
    <a mat-raised-button color="primary" routerLink="/goals/review-meeting">Review Meeting</a>
  </section>
  <!-- <section fxLayout="row">
      <div>
          <p style="margin-top: 20px">Welcome to the Shareholder Growth and Development Process.  From this page you have access to the GOALS and EVALUATION sections.  Click on one of the above buttons to access the section in which you would like to complete.  Once completed, you simply click on the Schenck logo in the upper left corner of the window to return to this screen.  You can revisit this page and continue editing the content in both sections until the process is closed.  Once the process is closed (Sept. 1, 2018) you will be able to review the information in both sections; however, edits cannot be made.</p>
      </div>
    </section> -->
</div>
