<div fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-typography">
  <section>
    <h1>WIG Goals</h1>
    <h2>Total Goal Weight: 0%</h2>
  </section>
  <section fxLayout="row" fxLayoutAlign="start start">
    <p fxFlex="66">Text goes here.</p>
  </section>
  <section fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
    <app-goal-list-card fxFlex="30"></app-goal-list-card>
    <app-goal-form-card fxFlex="70" *ngIf="goal" [goal]="goal"></app-goal-form-card>
  </section>
</div>

