<div fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-typography">
  <section>
    <h1>WIG Goals</h1>
    <h2>Total Goal Weight: {{totalWeight}}%</h2>
  </section>
  <section fxLayout="row" fxLayoutAlign="start start">
    <p fxFlex="66">Text goes here.</p>
  </section>
  <section fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="goals; else loading">
      <app-goal-list-card fxFlex="30" *ngIf="goals" [goals]="goals" (goal)="onSetExistingGoal($event);" (goalWeightModel)="assignWeightTotal($event)"></app-goal-list-card>
      <app-goal-form-card fxFlex="70" [goal]="goal"></app-goal-form-card>
    </section>
    <ng-template #loading>
      <div fxLayout="column" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
      </div>
    </ng-template>
</div>

