<div fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-typography">
  <section>
    <h1>Leadership Goals</h1>
    <app-goal-total-weight *ngIf="goals" [goalWeightModel]="goalWeightData"></app-goal-total-weight>
  </section>
  <section fxLayout="row" fxLayoutAlign="start start">
    <div>
      <p>Many shareholders spend time leading an industry team or service line, working on a committee, lending their expertise
        to a firm-wide project or giving their time on other initiatives. These leadership behaviors make a significant contribution
        to the overall growth of the firm and set an example for future leaders. We will now be formally recognizing those
        who have leadership commitments to help grow the firm and leave a legacy; while goals within the Leadership category
        are optional, Competency, WIGs and Economic goals are required.</p>
      <p>To add a goal, click on the green “Add Goal” in the Goals box below. To the right of the Goals box, is where you will
        add “Goal Details.” Use the drop down arrow to choose the Industry Team and/or a Service Line in which this goal
        applies (if applicable), give it a name and choose the weight you want to assign to this goal. Next, add a description
        of your goal. If applicable, describe the goal using the SMART methodology– Specific Measurable Achievable Realistic
        and Timely; or, the X to Y by when. See the guidebook for details on creating goals. Add specific actions that you
        need to take in order for you to achieve your goal.</p>
    </div>
  </section>
  <section *ngIf="goals; else loading">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf=!isReadOnly>
      <mat-card fxFlex="30">
        <section fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="no-bottom-margin">Goals</h3>
          <button mat-button color="accent" (click)="onAddGoal()">Add Goal</button>
        </section>
        <app-goal-list-card *ngIf="goals" [goals]="goals" (goal)="onSetExistingGoal($event)" (goalWeightModel)="onWeightChange($event)" [existingGoalId]="preSelectedGoalId"></app-goal-list-card>
      </mat-card>
      <app-goal-form-card fxFlex="70" *ngIf="goal" [goal]="goal" [dropDownData]="dropdownLists" (isFormDirty)="setFormIsDirty($event)"
        (savedGoal)="onSaveGoal($event)" (updatedGoal)="onUpdateGoal($event)"></app-goal-form-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="isReadOnly">
      <mat-card fxFlex="30">
        <section fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="no-bottom-margin">Goals</h3>
        </section>
        <app-read-only-goal-list *ngIf="goals" [goals]="goals" (goal)="onSetExistingGoal($event)" (goalWeightModel)="onWeightChange($event)"></app-read-only-goal-list>
      </mat-card>
      <app-read-only-goal-form fxFlex="70" *ngIf="goal" [goal]="goal" [dropDownData]="dropdownLists"></app-read-only-goal-form>
    </div>
  </section>
  <ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
