<div fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-typography">
  <section>
    <h1>Leadership Goals</h1>
    <app-goal-total-weight *ngIf="goals" [goalWeightModel]="goalWeightData"></app-goal-total-weight>
  </section>
  <!-- <section fxLayout="row" fxLayoutAlign="start start">
    <div>
      <p>Many shareholders spend time leading an industry team or service line, working on a committee, lending their expertise to a firm-wide project or giving their time on other initiatives.  These leadership behaviors make a significant contribution to the overall growth of the firm and set an example for future leaders.  We will now be formally recognizing those who have leadership commitments to help grow the firm and leave a legacy</p>
      <p>To add a goal, click on the green “Add Goal” in the Goals box below and choose the weight you want to assign to this goal.  Next, click on the blue “New competency goal” text to add your goal detail.  If applicable, use the drop down arrow to choose an Industry Team and/or a Service Line in which this goal applies.  Next, give your goal a name and provide a description.  Make sure to add actions/measures to help you keep you on track to achieving the goal.  Leadership Goals are also behavioral goals that lead to results.</p>
    </div>
  </section> -->
  <section fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="goals; else loading">
    <mat-card fxFlex="30">
      <section fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="no-bottom-margin">Goals</h3>
        <button mat-button color="accent" (click)="onAddGoal()">Add Goal</button>
      </section>
      <app-goal-list-card *ngIf="goals" [goals]="goals" (goal)="onSetExistingGoal($event)" (goalWeightModel)="onWeightChange($event)"></app-goal-list-card>
    </mat-card>
    <app-goal-form-card fxFlex="70" *ngIf="goal" [goal]="goal" [dropDownData]="dropdownLists" (isFormDirty)="setFormIsDirty($event)" (savedGoal)="onSaveGoal($event)" (updatedGoal)="onUpdateGoal($event)"></app-goal-form-card>
  </section>
  <ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
