<mat-toolbar class="transparent-bg bottom-border">
  <img src="../../../assets/images/schenck-logo.png">
  <a mat-button color="primary" routerLink="/goals/main" routerLinkActive="active">Main</a>
  <a mat-button color="primary" routerLink="/goals/competency/0" routerLinkActive="active">Competency Goals</a>
  <a mat-button color="primary" routerLink="/goals/wig/0" routerLinkActive="active">WIG Goals</a>
  <a mat-button color="primary" routerLink="/goals/leadership/0" routerLinkActive="active">Leadership Goals</a>
  <a mat-button color="primary" routerLink="/goals/economic-goals" routerLinkActive="active">Economic Goals</a>
  <a mat-button color="primary" routerLink="/goals/review-meeting" routerLinkActive="active">Review Meeting</a>
  <span class="example-spacer"></span>
  <button mat-button>Welcome John Smith!</button>
</mat-toolbar>
