<mat-toolbar class="transparent-bg bottom-border">
  <img src="../../../assets/images/schenck-logo.png">
  <a mat-button color="primary" routerLink="/home" routerLinkActive="active">Home</a>
  <a mat-button color="primary" routerLink="/competency/competency-goals" routerLinkActive="active">Competency Goals</a>
  <a mat-button color="primary" routerLink="/wig/wig-goals" routerLinkActive="active">WIG Goals</a>
  <a mat-button color="primary" routerLink="/economic/economic-goals" routerLinkActive="active">Economic Goals</a>
  <a mat-button color="primary" routerLink="/review/review-meeting" routerLinkActive="active">Review Meeting</a>
  <span class="example-spacer"></span>
  <button mat-button>Welcome User!</button>
</mat-toolbar>
