<div fxLayout="column" fxLayoutAlign="space-between stretch" class="mat-typography">
  <section fxLayout="column" fxLayoutAlign="space-between start">
    <h1>Economic Contribution Goals</h1>
  </section>
  <!-- <section fxLayout="row" fxLayoutAlign="start start">
    <div>
      <p>Below are nine categories in which economic goals will be evaluated. Your goals and actuals ending June 30, 2017 have been pre-populated based on the Star Monthly reports found on the G: drive.  (Details can be found XXXXXXX)</p>
      <p>For this section, choose a weight in which you will be applying your economic goals. Enter your economic goals for each line item presented.  Be certain to click on the green “Update personal Goals” button on the bottom left of the screen.</p>
    </div>
  </section> -->
  <section *ngIf="economicGoal; else loading;">
    <app-economic-goal-card [economicGoal]="economicGoal" [year]="year" [previousYear]="previousYear"></app-economic-goal-card>
  </section>
  <ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
