<mat-toolbar class="transparent-bg bottom-border">
  <a routerLink="/home"><img src="../../../assets/images/schenck-logo.png"></a>
  <a mat-button color="primary" routerLink="/evaluations/main" routerLinkActive="active">Main</a>
  <a mat-button color="primary" routerLink="/evaluations/wig" routerLinkActive="active">WIGs Evaluation</a>
  <a mat-button color="primary" routerLink="/evaluations/competency" routerLinkActive="active">Competency Evaluation</a>
  <a mat-button color="primary" routerLink="/evaluations/leadership" routerLinkActive="active">Leadership Evaluation</a>
  <a mat-button color="primary" routerLink="/evaluations/economic" routerLinkActive="active">Economic Evaluation</a>
  <a mat-button color="primary" routerLink="/evaluations/sign-off" routerLinkActive="active">Evaluation Sign-off</a>
  <span class="example-spacer"></span>
  <mat-form-field style="font-size: 14px">
    <mat-select placeholder="Select Fiscal Year" [(ngModel)]="selectedYear" (selectionChange)="setYear(selectedYear)">
      <mat-option *ngFor="let year of evalYears" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button [matMenuTriggerFor]="user">Welcome {{teamMember.FirstName}} {{teamMember.LastName}}! <mat-icon>arrow_drop_down</mat-icon></button>
  <mat-menu #user="matMenu">
    <button mat-menu-item>Log Out</button>
    <button mat-menu-item>Impersonate</button>
  </mat-menu>
</mat-toolbar>
