<mat-toolbar class="transparent-bg bottom-border">
  <img src="../../../assets/images/schenck-logo.png">
  <a mat-button color="primary" routerLink="/evaluations/main" routerLinkActive="active">Main</a>
  <a mat-button color="primary" routerLink="/evaluations/competency/" routerLinkActive="active">Competency Goals</a>
  <a mat-button color="primary" routerLink="/evaluations/wig/" routerLinkActive="active">WIG Goals</a>
  <a mat-button color="primary" routerLink="/evaluations/leadership/" routerLinkActive="active">Leadership Goals</a>
  <a mat-button color="primary" routerLink="/evaluations/economic-goals" routerLinkActive="active">Economic Goals</a>
  <span class="example-spacer"></span>
  <button mat-button>Welcome User!</button>
</mat-toolbar>
