<div>
  <div class="no-print">
    <h3>Select which sections you want included in print</h3>
    <mat-checkbox [(ngModel)]="displayWIG">WIG Goals</mat-checkbox>
    <mat-checkbox [(ngModel)]="displayCompetency">Personal Competency</mat-checkbox>
    <mat-checkbox [(ngModel)]="displayLeadership" *ngIf="evalData?.EvaluationTypes[2].length > 0">Firm Leadership</mat-checkbox>
    <mat-checkbox [(ngModel)]="displayEconomic">Personal Economic</mat-checkbox>
    <button mat-button (click)="print()">Print</button>
  </div>
  <div>
    <div>
      <app-evaluation-print-summary [evalData]="evalData" [teamMember]="teamMember" style="width: 100%"></app-evaluation-print-summary>
    </div>
    <div class="page-break-before" *ngIf="displayWIG">
      <app-evaluation-print-goal-type [data]="evalData?.EvaluationTypes[1]" [goalTypeName]="'WIG Goals'"></app-evaluation-print-goal-type>
    </div>
    <div class="page-break-before" *ngIf="displayCompetency">
      <app-evaluation-print-goal-type [data]="evalData?.EvaluationTypes[0]" [goalTypeName]="'Personal Competency Goals'"></app-evaluation-print-goal-type>
    </div>
    <div class="page-break-before" *ngIf="displayLeadership">
      <app-evaluation-print-goal-type [data]="evalData?.EvaluationTypes[2]" [goalTypeName]="'Firm Leadership Goals'"></app-evaluation-print-goal-type>
    </div>
    <div class="page-break-before" *ngIf="displayEconomic">
      <app-evaluation-print-goal-type [data]="evalData?.EvaluationTypes[3]" [goalTypeName]="'Personal Economic Goals'"></app-evaluation-print-goal-type>
      <app-evaluations-print-economic></app-evaluations-print-economic>
    </div>
  </div>
</div>
