<mat-card>
  <section class="text-center">
    <h3>{{title}} Goals</h3>
    <h4>Weight:</h4>
    <p>{{totalWeight}}%</p>
    <br>
    <a mat-button [routerLink]="route + '/' + 0" color="primary">View {{data.GoalType}} Goals</a>
  </section>
  <mat-list>
    <mat-list-item *ngFor="let goal of data.Goals">
      <h4 mat-line>
        <a [routerLink]="route + '/' + goal.GoalId" mat-button color="primary">{{goal.GoalName}}</a>
      </h4>
      <span class="example-spacer"></span>
      <span class="text-right small-font">Weight: {{goal.Weight}}%</span>
    </mat-list-item>
  </mat-list>
</mat-card>
