<div class="mat-typography">
  <div style="margin-top: 10px">
      <button class="no-print" mat-raised-button color="primary" (click)="print()">Print</button>
  </div>
  <div class="no-print">
    <h3>Select which sections you want included in print</h3>
    <mat-checkbox [(ngModel)]="displayWIG">WIG Goals</mat-checkbox>
    <mat-checkbox [(ngModel)]="displayCompetency">Personal Competency</mat-checkbox>
    <mat-checkbox [(ngModel)]="displayLeadership">Firm Leadership</mat-checkbox>
    <mat-checkbox [(ngModel)]="displayEconomic">Personal Economic</mat-checkbox>
  </div>
  <div>
    <div>
      <h1>Goal Summary of {{teamMember?.FirstName}} {{teamMember?.LastName}} for {{year}}</h1>
    </div>
    <div class="print-top-margin" *ngIf="displayWIG">
      <app-goals-print-type [goalTypeId]="4" [title]="'WIG Goals'"></app-goals-print-type>
    </div>
    <div class="print-top-margin" *ngIf="displayCompetency">
      <app-goals-print-type [goalTypeId]="7" [title]="'Personal Competency Goals'"></app-goals-print-type>
    </div>
    <div class="print-top-margin" *ngIf="displayLeadership">
      <app-goals-print-type [goalTypeId]="6" [title]="'Firm Leadership Goals'"></app-goals-print-type>
    </div>
    <div class="print-top-margin" *ngIf="displayEconomic">
      <app-goals-print-economic></app-goals-print-economic>
    </div>
  </div>
</div>
