@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #58595b;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .page-break-before {
      page-break-before: always;
    }

    .page-break-after {
      page-break-after: always;
    }
}
