<!-- <div fxLayout="column" fxLayoutAlign="space-around stretch" class="mat-typography">
    <section class="text-center">
      <h1>Shareholder Evaluations</h1>
      <h2>Total Evaluation Score: {{totalScore}}</h2>
    </section>
    <section>
      text goes here
    </section>
    <section fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    </section>
  </div> -->
  <div fxLayout="column" fxLayoutAlign="space-around stretch" class="mat-typography">
      <section>
        <h1 class="text-center">Evaluation</h1>
        <h2 class="text-center">Total Calculated Score: 100</h2>
        <h2 class="text-center">Final Score: 80</h2>
      </section>
      <section fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
        <div fxFlex="24">
          <mat-card class="text-center">
            <h3>Competency Goal Evaluations</h3>
            <h4>Score</h4>
            <p class="large-font">10</p>
            <br>
            <a mat-button color="primary" routerLink="/competency/competency-goals">View Competency Goal Evaluations</a>
          </mat-card>
        </div>
        <div fxFlex="24" class="text-center">
          <mat-card>
            <h3>WIG Goal Evaluations</h3>
            <h4>Score</h4>
            <p class="large-font">10</p>
            <br>
            <a mat-button color="primary" routerLink="/wig/wig-goals">View WIG Goal Evaluations</a>
          </mat-card>
        </div>
        <div fxFlex="24" class="text-center">
            <mat-card>
              <h3>Leadership Goal Evaluations</h3>
              <h4>Score</h4>
              <p class="large-font">10</p>
              <br>
              <a mat-button color="primary" routerLink="/wig/wig-goals">View Leadership Goal Evaluations</a>
            </mat-card>
          </div>
        <div fxFlex="24" class="text-center">
          <mat-card>
            <h3>Economic Goal Evaluation</h3>
            <h4>Score</h4>
            <p class="large-font">10</p>
            <br>
            <a mat-button color="primary" routerLink="/economic/economic-goals">View Economic Goals</a>
          </mat-card>
        </div>
      </section>
    </div>

