<div fxLayout="column" fxLayoutAlign="space-around stretch" class="mat-typography" *ngIf="evaluationData?.EvaluationTypes; else loading">
  <section class="text-center">
    <h1>Evaluation</h1>
    <mat-form-field>
      <mat-select placeholder="Final Score" [(ngModel)]="evaluationData.EvaluationScore" (selectionChange)="updateEvaluation()" [disabled]="!canUpdate">
          <mat-option *ngFor="let score of scores" [value]="score">
              {{ score }}
            </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Power Level" [(ngModel)]="evaluationData.PowerLevelId" (selectionChange)="updateEvaluation()" class="text-center" [disabled]="!canUpdate">
          <mat-option *ngFor="let level of powerLevelDropdown" [value]="level.PowerLevelId">
              <b>{{ level.PowerValue }}</b>
            </mat-option>
      </mat-select>
    </mat-form-field>
    <h2 class="text-center">Total Shareholder Score: {{totalShareholderScore | number : '1.0-1'}}</h2>
    <h2 class="text-center">Total PIC/Practice Leader Score: {{totalPicScore | number : '1.0-1'}}</h2>
    <h2 class="text-center">Total Consensus Score: {{totalConsensusScore | number : '1.0-1'}}</h2>
  </section>
  <!-- <section fxLayout="row" fxLayoutAlign="start start">
      <div>
          <p>This dashboard reflects the areas in which you, your PIC, and the committee will evaluate your accomplishments with regard to last year’s goals.  While there are four goal areas this year (WIG, Competency, Leadership and Economic), this evaluation area reflects only the areas in which you have established goals. For example, if you had WIG and Economic Goals, you will only see those two areas. If you had WIG, Competency and Economic goals, you will see all three areas.  Leadership is not formally part of this year’s evaluation process; however, it is taken into consideration during the overall evaluation and review process. The Leadership goal(s) you enter this year will be reflected in next year’s evaluation process.</p>
          <p>The scores you see on this dashboard will be automatically populated when data is entered in each evaluation area.</p>
      </div>
    </section> -->
  <section fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxFlex="grow" class="text-center">
      <app-main-card [route]="'/evaluations/'" [name]="'WIG'" [data]="evaluationData?.EvaluationTypes[1]" (shareholderScore)="addToShareholderScoreArray($event)" (picScore)="addToPICScoreArray($event)" (consensusScore)="addToConsensusScoreArray($event)"></app-main-card>
    </div>
    <div fxFlex="grow" class="text-center">
      <app-main-card [route]="'/evaluations/'" [name]="'Personal Competency'" [data]="evaluationData?.EvaluationTypes[0]" (shareholderScore)="addToShareholderScoreArray($event)" (picScore)="addToPICScoreArray($event)" (consensusScore)="addToConsensusScoreArray($event)"></app-main-card>
    </div>
    <div fxFlex="grow" class="text-center">
      <app-main-card [route]="'/evaluations/'" [name]="'Firm Leadership'" [data]="evaluationData?.EvaluationTypes[2]" (shareholderScore)="addToShareholderScoreArray($event)" (picScore)="addToPICScoreArray($event)" (consensusScore)="addToConsensusScoreArray($event)"></app-main-card>
    </div>
    <div fxFlex="grow" class="text-center">
      <app-main-card [route]="'/evaluations/'" [name]="'Personal Economic'" [data]="evaluationData?.EvaluationTypes[3]" (shareholderScore)="addToShareholderScoreArray($event)" (picScore)="addToPICScoreArray($event)" (consensusScore)="addToConsensusScoreArray($event)"></app-main-card>
    </div>
  </section>
  <ng-template #loading>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
